<div class="bg-[#2c3e50] text-white px-20 py-5">
    <div class="bg-[#2c3e50] p-10 flex justify-between items-center text-center">
        <div class="py-5">
        <h2 class="text-3xl fw-bolder">LOCATION</h2>
        <p class="pt-2 text-md">2215 John Daniel Drive <br> Clark, MO 65243</p>
        </div>
        <div class="py-5">
        <h2 class="text-3xl fw-bold pb-3">AROUND THE WEB</h2>
        <div class="flex justify-evenly pt-2">
            <div class="footer-icons"><i class="fa-brands fa-facebook text-xl"></i></div>
            <div class="footer-icons"><i class="fa-brands fa-twitter text-xl"></i></div>
           <div class="footer-icons"><i class="fa-brands fa-linkedin text-xl"></i></div>
            <div class="footer-icons"><i class="fa-solid fa-globe text-xl"></i></div>
        </div>
        </div>
        <div class="py-5">
        <h2 class="text-3xl fw-bolder">ABOUT FREELANCER</h2>
        <p class="pt-2 text-md">Freelance is a free to use, licensed Bootstrap theme <br> created by Route</p>
        </div>
            </div>
</div>
<div class="bg-gray-800 text-center text-white py-5">
    <p class="text-sm">Copyright © Your Website 2021</p>
</div>